%td
  %table.main-bar-content
    %thead
    %tbody
      - @comments.each do |comment|
        %tr
          %td
            %div.glyphicon.glyphicon-triangle-top.inline-arrow
            %div.main-text.no-underline
              = comment.text
            %div.sub-text.text-left.hoffset3
              = "#{comment.points} #{t('general.points_by')} #{comment.user.email} "
              = link_to 'Show', comment
              -if current_user.id == comment.user_id
                = link_to 'Edit', edit_comment_path(comment)
                = link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %tr
        %td
          = will_paginate @comment, page_links: false
