%td
  %table.main-bar-content
    %thead
    %tbody
      - @comments.each do |comment|
        %tr
          %td
            %div.glyphicon.glyphicon-triangle-top.inline-arrow
            %div.main-text.no-underline
              = comment.text
            %div.sub-text.text-left.hoffset3
              = "#{comment.points} #{t('general.points_by')} #{comment.user.email} | #{time_ago_in_words(comment.created_at)} #{t('general.ago')}"
              |
              = link_to t('general.show'), comment
              -if current_user.id == comment.user_id
                |
                = link_to t('general.edit'), edit_comment_path(comment)
                |
                = link_to t('general.destroy'), comment, :method => :delete, :data => { :confirm => t('general.confirm') }

      %tr
        %td
          = will_paginate @comment, page_links: false
