%td
  %table.main-bar-content
    %thead
    %tbody
      - @comments.each do |comment|
        %tr
          %td
            -unless !user_signed_in? || @liked_comments.include?(comment.id)
              =button_to "/comment_likes/?comment_id=#{comment.id}",
                        method: :create,
                        class: ['button-as-no-button',],
                        form_class: ['inline-arrow'],
                        id: "comment_#{comment.id}",
                        remote: true do
                %div.glyphicon.glyphicon-triangle-top.inline-arrow.button-as-no-button
              -offset_class = ''
            -else
              -offset_class = 'hoffset3'
            %div.main-text.no-underline.near_like{class: "#{offset_class}"}
              = comment.text
            %div.sub-text.text-left.hoffset3
              =render 'comments/comment_info', comment: comment

      %tr
        %td
          = will_paginate @comment, page_links: false
