%td
  %table.main-bar-content
    %thead
    %tbody
      - @stories.each do |story|
        %tr
          %td
            %div.main-text.no-underline
              -if story.url.present?
                = link_to story.title, story.url
              -else
                = story.title
            %div.sub-text.text-left
              = "#{story.points} #{t('general.points_by')} #{story.user.email} "
              = link_to 'Show', story
              = link_to 'Edit', edit_story_path(story)
              = link_to 'Destroy', story, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %tr
        %td
          = will_paginate @stories, page_links: false
