%td.hoffset5
  %table.main-bar-content
    %thead
    %tbody
      %tr
        %td.col-xs-12
          -unless !user_signed_in? || @liked
            =button_to "/story_likes/?story_id=#{@story.id}",
                      method: :create,
                      class: ['button-as-no-button',],
                      form_class: ['inline-arrow'],
                      id: "story_#{@story.id}",
                      remote: true do
              %div.glyphicon.glyphicon-triangle-top.inline-arrow.button-as-no-button

          %div.main-text.no-underline.near_like.hoffset3
            -if @story.url.present?
              = link_to @story.title, @story.url
            -else
              = link_to @story.title, story_path(@story)
          %div.sub-text.text-left.hoffset3
            =render 'stories/story_info', story: @story
          %div.sub-text.text-left.hoffset3
            -if @story.text.present?
              = @story.text
          .voffset4.main-bar-content
            .row-fluid.hoffset3
              =form_for @comment do |f|
                =f.hidden_field :story_id ,value: @story.id
                =f.hidden_field :user_id, value: current_user.try(:id)
                =f.text_area :text, size: "49x4"
                .voffset2
                  =f.submit t('comment.add')
            %table
              %thead
              %tbody
                %tr
                  %td.nhoffset3
                    =render 'comments/comments_list', comments: @comments
