%p#notice= notice

%p
  %b Title:
  = @story.title
%p
  %b User:
  = @story.user_id
%p
  %b Text:
  = @story.text
%p
  %b Url:
  = @story.url
%p
  %b Points:
  = @story.points

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path
