%td.hoffset5
  %table.main-bar-content
    %thead
    %tbody
      %tr
        %td.col-xs-12
          - unless !user_signed_in? || @liked
            =button_to "/story_likes/?story_id=#{@story.id}&user_id=#{@story.user_id}",
                      method: :create,
                      class: ['button-as-no-button',],
                      form_class: ['inline-arrow'],
                      id: "story_#{@story.id}",
                      title: "CHuchas",
                      remote: true do
              %div.glyphicon.glyphicon-triangle-top.inline-arrow.button-as-no-button
            -offset_class = ''
          -else
            -offset_class = 'hoffset3'
          %div.main-text.no-underline.near_like{class: "#{offset_class}"}
            -if @story.url.present?
              = link_to @story.title, @story.url
            -else
              = link_to @story.title, story_path(@story)
          %div.sub-text.text-left.hoffset3
            = "#{@story.points} #{t('general.points_by')} #{@story.user.email}| #{time_ago_in_words(@story.created_at)} #{t('general.ago')}"
            |
            = link_to t('general.show'), @story
            -if user_signed_in? && current_user.id == @story.user_id
              |
              = link_to t('general.edit'), edit_story_path(@story)
              |
              = link_to t('general.delete'), @story, :method => :delete, :data => { :confirm => t('general.confirm') }
          %div.sub-text.text-left.hoffset3
            -if @story.text.present?
              = @story.text
          .voffset4.main-bar-content
            .row-fluid.hoffset3
              =form_for @comment do |f|
                =f.hidden_field :story_id ,value: @story.id
                =f.hidden_field :user_id, value: current_user.try(:id)
                =f.text_area :text, size: "49x4"
                .voffset2
                  =f.submit t('comment.add')
            =render 'comments/comments_list', comments: @comments
