!!! 5
%html(lang="es")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    = csrf_meta_tags
    = "Portfolio"
    = render 'layouts/nav_bar'
%p.notice= notice
%p.alert= alert

= yield

</body>
</html>
